@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  background-color: #0d1117;
  color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100lvh;
}

@layer components {
  .container-main {
    @apply text-txt-gray rounded-xl border-[1px] border-border-clr bg-dark-secondary;
  }

  .challenge-box {
    @apply text-txt-gray rounded-lg border-[1px] border-border-clr bg-dark-secondary;
  }

  .box-default {
    @apply flex aspect-square w-full min-w-10 max-w-20 flex-col items-center justify-center justify-self-center rounded-lg bg-dark-content;
  }
}

@layer utilities {
  .spacing-6 {
    @apply m-6 p-6;
  }
  .spacing-6-0 {
    @apply m-6 p-0;
  }

  .spacing {
    @apply mx-8 my-2;
  }
}
